.buttonPhoto {
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: blueviolet;
    margin: 20px 30px;
    border: none;
    border-radius: 30px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.form label {
    margin-right: 10px;
    font-weight: bold;
}