.page {
    margin:0 250px;
    margin-top: 20px;
}

.page1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.click {
    padding: 0 20px;
}

.click button {
    margin: 0 5px;
    height: 25px;
    background-color: #6E05AD;
    border: none;
    color: #fff;
    padding: 0 8px;
    border-radius: 50%;
    cursor: pointer;
}

.button2 {
    background-color: #4c0376 !important;
}

.right, .left {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c0376;
}
