.show {
    background-color: rgb(246, 245, 245);
    margin:0 250px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(246, 245, 245);
}

.cont {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name img {
    width: 25px;
    height: 25px;
}
h2 {
    font-size: 15px;
    padding: 0 10px;
}